{% extends 'base.html' %}

{% block title %}Book{% endblock title %}

{% block body %}

<style>
    .cover{
        height: 200px;
        object-fit: cover;
    }
  </style>

<!-- For Alert Messages -->
{% if user.is_authenticated %}
{% else %}
{% if messages %}
    {% for message in messages %}
      <div class="container" style="margin-left: 30%;">
        <div class="alert alert-warning m-2 alert-dismissible fade show" role="alert" style="width: 40%;">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    {% endfor %}
{% endif %}
{% endif %}

<div class="container">
    <div class="row justify-content-centre">
        <div class="col" style="margin-top: 2%;">
            <a href="/" class="btn btn-outline-success my-3">Go Back</a>
            <div style="height: 90vh; margin-bottom: 5%;">
                <div class="card" style="width: 18rem; margin-left: 40%;">
                    <img class="card-img-top" src="{{book.image.url}}" alt="Card image cap">
                </div>
            </div>
        </div>
        <div class="col-6" style="margin-top: 15%;margin-right: 7%;">
            <div class="card text-center w-75 ">
                <div class="card-header">
                  Book Details
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{book.name}}</h5>
                  <p class="card-text">{{book.description}}</p>
                  <h6 class="price">Price : Rs. {{book.price}}</h6>
                  {% if user.is_authenticated %}
                    {% if book.pdf %}
                      <button data-product={{book.id}} data-action="add" class="btn btn-dark my-3 update-cart" style="margin-right: 15%;">Add to Cart</button>
                      <a href="{{book.pdf.url}}" class="btn btn-dark my-3" target="_blank">Read Online</a>
                    {% else %}
                    <button data-product={{book.id}} data-action="add" class="btn btn-dark my-3 update-cart">Add to Cart</button>
                    {% endif %}
                  {% else %}
                  <button data-product={{book.id}} data-action="add" class="btn btn-dark my-3 update-cart" disabled>Add to Cart</button>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!--Reviews-->

    <div class="card" style="margin-bottom: 6%; margin-right: 3%; margin-left: 3%;margin-top: -4%; max-height: 550px;">
      <!--Like & Dislike-->
      <div class="card-header" style="height: 100px; text-align: center;">
<div class="row" style="margin-top: 1%; margin-left: 13%; ">
        
        <div class="col-sm-2">
        <form action="{% url 'like-book' book.id %}" method="POST" class="like-form">
          {% csrf_token %}
          <button type="submit" class="like-btn" name="book_id" value="{{book.id}}" style="text-align: left; margin-left: -254%; margin-top: 2%; border: none; background-color: rgb(247, 247, 247);">
            {% if user not in book.likes.all %}
            <svg xmlns="http://www.w3.org/2000/svg" class=" mr-2 like-icon inline-block" viewBox="0 0 20 20" width="50" height="50" fill="currentColor">
              <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" class=" mr-2 like-icon text-blue-700 inline-block" viewBox="0 0 20 20" width="50" height="50" fill="currentColor">
              <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
            </svg>
            {% endif %}
          </button>
          <span class="like-count" id="like-count">{{book.num_likes}}</span>
        </form>
        </div>

        <div class="col-sm-6"><h4 style="margin-top: 2%;">Rate "{{book.name}}"</h4></div>
        
        <div class="col-sm-3" style=" line-height: 0px; ">
        <form action="{% url 'dislike-book' book.id%}" method="POST" class="dislike-form">
          {% csrf_token %}
          <button type="submit" class="dislike-btn" name="book_id" value="{{book.id}}" style="margin-left: 107%; margin-top: 3%; border: none; background-color: rgb(247, 247, 247);">
            {% if user not in book.dislikes.all %}
              <svg xmlns="http://www.w3.org/2000/svg" class=" mr-2 dislike-icon inline-block" viewBox="0 0 20 20" width="50" height="50" fill="currentColor">
                  <path d="M18 9.5a1.5 1.5 0 11-3 0v-6a1.5 1.5 0 013 0v6zM14 9.667v-5.43a2 2 0 00-1.105-1.79l-.05-.025A4 4 0 0011.055 2H5.64a2 2 0 00-1.962 1.608l-1.2 6A2 2 0 004.44 12H8v4a2 2 0 002 2 1 1 0 001-1v-.667a4 4 0 01.8-2.4l1.4-1.866a4 4 0 00.8-2.4z" />
              </svg>
              {% else %}
              <svg xmlns="http://www.w3.org/2000/svg" class=" mr-2 dislike-icon text-blue-700 inline-block" viewBox="0 0 20 20" width="50" height="50" fill="currentColor">
                  <path d="M18 9.5a1.5 1.5 0 11-3 0v-6a1.5 1.5 0 013 0v6zM14 9.667v-5.43a2 2 0 00-1.105-1.79l-.05-.025A4 4 0 0011.055 2H5.64a2 2 0 00-1.962 1.608l-1.2 6A2 2 0 004.44 12H8v4a2 2 0 002 2 1 1 0 001-1v-.667a4 4 0 01.8-2.4l1.4-1.866a4 4 0 00.8-2.4z" />
              </svg>
            {% endif %}
          </button>
          <span class="dislike-count"  id="dislike-count" style="position: relative;margin-left: 95%;">{{book.num_dislikes}}</span>
        </form>

      </div>
    </div>

      <!--Like & Dislike-->

      </div>
      <div class="card-body">
        <div class="row">
        <div class="col-md-8" id="showdata" style="max-height: 550px;">
          <div class="card" style="max-height: 86%; height: 100%;">
            <div class="container-fluid" style="margin-top: 2%; margin-left: 2%;">
             {% if users %} 
              {% for user in users %} 
                {% if user.product.name == book.name %}             
                  <p style="margin-bottom: 3%;"><strong style="text-transform: capitalize;">{{user.name}}</strong><br>"{{user.desc}}"<br><i style="color: gray;">Published on : {{user.date}} {{user.time}}</i></p>
                {% endif %}
              {% endfor %}
              {% else %}
              <p><h4>Be the First one to Review "{{book.name}}" &#128515;</h4></p>
              {% endif %}
            </div>
          </div>
          
            {% if users.has_other_pages %}
              <ul class="pagination" style="margin-top: 2%; margin-left: 1%; max-height: 75%; max-width: 0%;">
              {% if users.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link"><span>&laquo;</span></a></li>
              {% endif %}
              {% for i in users.paginator.page_range %}
                {% if users.number == i %}
                  <li class="active"><a class="page-link" style="background-color: rgb(146, 146, 146); color: white;"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if users.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link"><span>&raquo;</span></a></li>
              {% endif %}
            </ul>
            {% endif %}

        </div>

        <div class="col-md-4" id="getdata" >
          <div class="card container-fluid">
            <form method="post" action="." style="margin-top: 2%;">
              {% csrf_token %}
              <div class="form-group m-3">
                <h4 style="margin-left: 20%; margin-bottom: 7%; margin-top: 7%;">Share Your Review</h4>
              </div>
            <div class="form-group m-3">
              <label for="name" class="form-label"><strong>Email</strong></label>
              <input type="text" class="form-control" id="email" name="email" placeholder="Enter your e-mail" required>
            </div>
            <div class="mb-3 m-3">
              <label for="desc" class="form-label"><strong>Your Review</strong></label>
              <textarea class="form-control" id="desc" rows="3" style="resize: none;" name="desc" placeholder="Share Your Review about '{{book.name}}'" required></textarea>
            </div>
            {%if user.is_authenticated %}
            <button class="btn btn-danger" style="margin-left: 34%; margin-bottom: 10%;" type="submit">Submit Review</button>
            {% else %}
            <h6 style="margin-bottom: 10%; color: red; text-align:center">You should be logged In to<br>Submit a Review !</h6>
            {% endif %}
            </form>
          </div>    
        </div>
        </div>
      </div>
    </div>


<!--Reviews-->

<footer class="text-muted py-5" id="footer" style="background: black; color: grey;">
    <div class="container">
      <p class="float-end mb-1">
        <a class="text-decoration-none" href="#" style="color: white;">Back to top</a>
      </p>
      <p class="mb-1">&copy; 2021 Books Treasury all rights reserved</p>
      <p class="mb-0">New to Books Treasury? <a class="text-decoration-none" href="/" style="color: white;">Visit our homepage</a></p>
      <p style=" margin-top: 0.5%;"><a class="text-decoration-none" href="{% url 'misc' %}" target="_blank" style="color: white;">&#x2022; Privacy Policy</a><a class="text-decoration-none" href="{% url 'misc' %}" target="_blank" style="color: white; margin-left: 2%;">&#x2022; Terms & Conditions</a></p>
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="/static/js/ajax.js"></script>

{% endblock body %}