<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-15">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i.css">
    <title> Order Confirmation Mail</title>
</head>
<style>
    .image-thumbail{
      height: 200px;
      object-fit: cover;
  }
</style>
<body style="background-color: rgb(247, 245, 245);">
    <div style="margin-left:29%; width:70%">
    <p style="margin-top: 2%;"><strong style="font-style:italic; font-family:'Times New Roman'; font-size: 25px; color: black;"><img src="https://uploads-ssl.webflow.com/60b3bc49fb2fc94bb43bdef5/60b3bc72dc8600cb769b5145_btlogo.png" class="logo" width="25" height="25" style="margin-left: 5px;">BooksTreasury</strong></p>

    <div class="card" style="background-color: white; width: 60%; height: 510px;">
        <img class="image-thumbail" src="https://uploads-ssl.webflow.com/60b3bc49fb2fc94bb43bdef5/60b3bc72be857980a0be4f96_email2.jpg" alt="Card image cap" style="width: 100%;">

            <div class="card-body" style="margin-left: 4%;">

    <p style="color: rgb(2, 159, 221); font-family: 'Google Sans'; font-size: 20px;">Hey {{name}}!</p>

    <p style="color:black;width: 100%; font-family: sans-serif; font-size: 14px;">Just want to thank you for choosing our platform "Books Treasury"<br>to buy Books.</p>
    
    <p style="color:black; font-family:sans-serif; font-size: 14px;">We also provide services like :</p>
    <ul style="color:black; font-family: sans-serif; font-size: 14px;">
    <li>Sell Book(s)</li>
    <li>Read Book(s) online</li>
    </ul>

    <p style="color:black; font-family: sans-serif; font-size: 14px;">Looking forward to your Future purchases</p>
    
    <p style="color:black; font-family: sans-serif; font-size: 14px;">Regards,<br>BooksTreasury Team</p>
    </div>

    </div>
    <p style="text-align: center; margin-left: 2%; margin-right: 45%; color: rgb(151, 151, 151); font-family: 'Google Sans'; font-size: 14px;"><small>You received this email because you made a purchase from BooksTreasury. If you don't want to receive any more emails from us, you can <a href="mailto:bookstreasuryinc@gmail.com?Subject=Unsubscribe">opt out here</a>.</small></p>
    <img class="image-thumbail" src="https://uploads-ssl.webflow.com/60b3bc49fb2fc94bb43bdef5/60b3bc72bb547f0ded0d6df8_dash.png" style="width:33px; height:3px; margin-left: 27%; margin-top: 0%;"><br>
    <strong style="margin-left: 20%;font-style:italic; color: rgb(151, 151, 151); font-family:'Times New Roman'; font-size: 20px;"><img class="image-thumbail" src="https://uploads-ssl.webflow.com/60b3bc49fb2fc94bb43bdef5/60b3bc726d6b23378ab095ef_footerlogo1.jpg" style="width: 20px; height: 20px; margin-top: 1%;">BooksTreasury</strong>
    <p style="text-align: center; margin-right: 39%; margin-bottom: 2%; color: rgb(151, 151, 151); font-family: 'Google Sans'; font-size: 15px;"><small>&copy; 2021 BooksTreasury, 61 New Lal Bagh,<br>Patiala, Punjab, India</small></p>
    </div>
      
</body>
</html>
